app/GDSIntegration/Amadeus/DevWsdl/Fare_GetFareFamilyDescriptionReply_18_1_1A.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://xml.amadeus.com/TFQFRR_18_1_1A" xmlns="http://xml.amadeus.com/TFQFRR_18_1_1A" elementFormDefault="qualified">
  <xs:element name="Fare_GetFareFamilyDescriptionReply">
    <xs:annotation>
      <xs:documentation xml:lang="en">Returns up to 16 Fare Family descriptions</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:element name="errorGroup" minOccurs="0" maxOccurs="99" type="ErrorGroupType">
          <xs:annotation>
            <xs:documentation xml:lang="en">For errors at message level</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element name="fareFamilyDescriptionGroup" minOccurs="0" maxOccurs="99">
          <xs:annotation>
            <xs:documentation xml:lang="en">Description of a given Fare Family</xs:documentation>
          </xs:annotation>
          <xs:complexType>
            <xs:sequence>
              <xs:element name="referenceInformation" type="ItemNumberType">
                <xs:annotation>
                  <xs:documentation xml:lang="en">Trigger Contains the number of the fare family for which description is returned</xs:documentation>
                </xs:annotation>
              </xs:element>
              <xs:element name="fareInformation" minOccurs="0" type="FareQualifierDetailsType">
                <xs:annotation>
                  <xs:documentation xml:lang="en">Contains the name of the fare family for which description is returned.</xs:documentation>
                </xs:annotation>
              </xs:element>
              <xs:element name="previousTicketIndicator" minOccurs="0" type="CodedAttributeType">
                <xs:annotation>
                  <xs:documentation xml:lang="en">This indicator is used to identify fare family desrciption used in the original (previous) ticket. It is used only in re-pricing use case.</xs:documentation>
                </xs:annotation>
              </xs:element>
              <xs:element name="itineraryInformation" minOccurs="0" type="OriginAndDestinationDetailsType">
                <xs:annotation>
                  <xs:documentation xml:lang="en">origin and destination for which Fare Family description has been requested</xs:documentation>
                </xs:annotation>
              </xs:element>
              <xs:element name="carrierInformation" minOccurs="0" type="TransportIdentifierType">
                <xs:annotation>
                  <xs:documentation xml:lang="en">Contains the name of the Carrier owner of the fare family for which description is returned.</xs:documentation>
                </xs:annotation>
              </xs:element>
              <xs:element name="freeFlowDescription" minOccurs="0" maxOccurs="9" type="FreeTextInformationType_198124S">
                <xs:annotation>
                  <xs:documentation xml:lang="en">Free-Flow description of the fare family</xs:documentation>
                </xs:annotation>
              </xs:element>
              <xs:element name="externalReferenceInfo" minOccurs="0" type="ReferenceInfoType">
                <xs:annotation>
                  <xs:documentation xml:lang="en">Media reference ID for Fare Family.</xs:documentation>
                </xs:annotation>
              </xs:element>
              <xs:element name="ocFeeInformation" minOccurs="0" maxOccurs="99">
                <xs:annotation>
                  <xs:documentation xml:lang="en">structured description of the fare family</xs:documentation>
                </xs:annotation>
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="feeDescription" type="SpecificDataInformationType">
                      <xs:annotation>
                        <xs:documentation xml:lang="en">fee type / description</xs:documentation>
                      </xs:annotation>
                    </xs:element>
                    <xs:element name="serviceDetails" minOccurs="0" type="SpecialRequirementsDetailsType">
                      <xs:annotation>
                        <xs:documentation xml:lang="en">Service type, provider and group.</xs:documentation>
                      </xs:annotation>
                    </xs:element>
                    <xs:element name="feeFreeFlowDescription" minOccurs="0" type="FreeTextInformationType">
                      <xs:annotation>
                        <xs:documentation xml:lang="en">The description of the fee</xs:documentation>
                      </xs:annotation>
                    </xs:element>
                    <xs:element name="externalReferenceInfo" minOccurs="0" type="ReferenceInfoType">
                      <xs:annotation>
                        <xs:documentation xml:lang="en">Media reference ID for service.</xs:documentation>
                      </xs:annotation>
                    </xs:element>
                    <xs:element name="serviceAttribute" minOccurs="0" type="AttributeType">
                      <xs:annotation>
                        <xs:documentation xml:lang="en">This segment conveys the attributes of a service belonging to the described fare family  NBT non bookability ticketability</xs:documentation>
                      </xs:annotation>
                    </xs:element>
                    <xs:element name="ocFeeAmount" minOccurs="0" type="MonetaryInformationType">
                      <xs:annotation>
                        <xs:documentation xml:lang="en">Fee amount</xs:documentation>
                      </xs:annotation>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="errorInformationFareFamily" minOccurs="0" maxOccurs="99" type="ErrorGroupType">
                <xs:annotation>
                  <xs:documentation xml:lang="en">Error/warning for this fare family</xs:documentation>
                </xs:annotation>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="ApplicationErrorDetailType">
    <xs:sequence>
      <xs:element name="errorCode" type="AlphaNumericString_Length1To5">
        <xs:annotation>
          <xs:documentation xml:lang="en">Code identifying the data validation error condition.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="errorCategory" minOccurs="0" type="AlphaNumericString_Length1To3">
        <xs:annotation>
          <xs:documentation xml:lang="en">Identification of a code list.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="errorCodeOwner" minOccurs="0" type="AlphaNumericString_Length1To3">
        <xs:annotation>
          <xs:documentation xml:lang="en">Code identifying the agency responsible for a code list.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ApplicationErrorInformationType">
    <xs:annotation>
      <xs:documentation xml:lang="en">To identify the type of application error within a message.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="errorDetails" type="ApplicationErrorDetailType">
        <xs:annotation>
          <xs:documentation xml:lang="en">Application error details.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="AttributeInformationTypeU">
    <xs:annotation>
      <xs:documentation xml:lang="en">To identify the type of attribute and the attribute</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="attributeType" type="AlphaNumericString_Length1To25">
        <xs:annotation>
          <xs:documentation xml:lang="en">Used for attribute value rather than attributeType</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="attributeDescription" minOccurs="0" type="AlphaNumericString_Length1To256" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="AttributeType">
    <xs:annotation>
      <xs:documentation xml:lang="en">Used to have tag value without code list for tag</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="criteriaDetails" maxOccurs="99" type="AttributeInformationTypeU">
        <xs:annotation>
          <xs:documentation xml:lang="en">Details for the message criteria (name, value).</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="CodedAttributeInformationType">
    <xs:annotation>
      <xs:documentation xml:lang="en">Convey coded key and corresponding value</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="attributeType" type="AlphaNumericString_Length1To5" />
      <xs:element name="attributeDescription" minOccurs="0" type="AlphaNumericString_Length1To256" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="CodedAttributeType">
    <xs:annotation>
      <xs:documentation xml:lang="en">Used to have tag value without code list for tag</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="attributeDetails" maxOccurs="99" type="CodedAttributeInformationType" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="CompanyIdentificationTypeI">
    <xs:annotation>
      <xs:documentation xml:lang="en">Code or name to identify a company and any associated companies.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="otherCompany" minOccurs="0" type="AlphaNumericString_Length1To35" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="DataInformationType">
    <xs:annotation>
      <xs:documentation xml:lang="en">To identify specific data and a quantity related to the data.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="indicator" minOccurs="0" type="AMA_EDICodesetType_Length1to3">
        <xs:annotation>
          <xs:documentation xml:lang="en">Service Application (Included, At Charge etc...)</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="DataTypeInformationType">
    <xs:annotation>
      <xs:documentation xml:lang="en">To identify the type of data to be sent and to qualify the data when required.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="type" type="AMA_EDICodesetType_Length1to3">
        <xs:annotation>
          <xs:documentation xml:lang="en">OC subcode</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="statusEvent" minOccurs="0" type="AMA_EDICodesetType_Length1to3" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="DiscountPenaltyInformationType">
    <xs:sequence>
      <xs:element name="fareQualifier" minOccurs="0" type="AMA_EDICodesetType_Length1to3" />
      <xs:element name="rateCategory" minOccurs="0" type="AlphaNumericString_Length1To35">
        <xs:annotation>
          <xs:documentation xml:lang="en">Used to enter the Fare Family name</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ErrorGroupType">
    <xs:annotation>
      <xs:documentation xml:lang="en">Conveys a potential error.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="errorOrWarningCodeDetails" type="ApplicationErrorInformationType">
        <xs:annotation>
          <xs:documentation xml:lang="en">The details of error/warning code.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="errorWarningDescription" minOccurs="0" type="FreeTextInformationType">
        <xs:annotation>
          <xs:documentation xml:lang="en">The desciption of warning or error.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="FareQualifierDetailsType">
    <xs:sequence>
      <xs:element name="discountDetails" type="DiscountPenaltyInformationType" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="FreeTextDetailsType">
    <xs:sequence>
      <xs:element name="textSubjectQualifier" type="AlphaNumericString_Length1To3" />
      <xs:element name="source" type="AlphaNumericString_Length1To3" />
      <xs:element name="encoding" type="AlphaNumericString_Length1To3" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="FreeTextDetailsType_275914C">
    <xs:sequence>
      <xs:element name="textSubjectQualifier" type="AlphaNumericString_Length1To3" />
      <xs:element name="informationType" minOccurs="0" type="AlphaNumericString_Length1To4" />
      <xs:element name="source" type="AlphaNumericString_Length1To3" />
      <xs:element name="encoding" type="AlphaNumericString_Length1To3" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="FreeTextInformationType">
    <xs:annotation>
      <xs:documentation xml:lang="en">Used to convey the free text and associated language, encoding.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="freeTextDetails" type="FreeTextDetailsType" />
      <xs:element name="freeText" maxOccurs="99" type="AlphaNumericString_Length1To320">
        <xs:annotation>
          <xs:documentation xml:lang="en">Free text and message sequence numbers of the remarks.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="FreeTextInformationType_198124S">
    <xs:annotation>
      <xs:documentation xml:lang="en">Used to convey the free text and associated language, encoding.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="freeTextDetails" type="FreeTextDetailsType_275914C" />
      <xs:element name="freeText" maxOccurs="99" type="AlphaNumericString_Length1To320">
        <xs:annotation>
          <xs:documentation xml:lang="en">Free text and message sequence numbers of the remarks.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ItemNumberIdentificationType">
    <xs:annotation>
      <xs:documentation xml:lang="en">Goods identification for a specified source</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="number" minOccurs="0" type="AlphaNumericString_Length1To35" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ItemNumberType">
    <xs:annotation>
      <xs:documentation xml:lang="en">To specify an item number</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="itemNumberDetails" maxOccurs="99" type="ItemNumberIdentificationType" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="MonetaryInformationDetailsType">
    <xs:annotation>
      <xs:documentation xml:lang="en">To specify the type of monetary amount, the amount, and the currency code.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="typeQualifier" type="AlphaNumericString_Length1To3" />
      <xs:element name="amount" minOccurs="0" type="AlphaNumericString_Length1To35">
        <xs:annotation>
          <xs:documentation xml:lang="en">Amount</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="currency" minOccurs="0" type="AlphaNumericString_Length1To3">
        <xs:annotation>
          <xs:documentation xml:lang="en">Currency</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="location" minOccurs="0" type="AlphaNumericString_Length1To25">
        <xs:annotation>
          <xs:documentation xml:lang="en">location</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="MonetaryInformationType">
    <xs:annotation>
      <xs:documentation xml:lang="en">To convey monetary amounts, rates and percentages.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="monetaryDetails" type="MonetaryInformationDetailsType" />
      <xs:element name="otherMonetaryDetails" minOccurs="0" maxOccurs="19" type="MonetaryInformationDetailsType" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="OriginAndDestinationDetailsType">
    <xs:annotation>
      <xs:documentation xml:lang="en">To convey the origin and destination of a journey.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="origin" type="AlphaNumericString_Length1To35" />
      <xs:element name="destination" type="AlphaNumericString_Length1To35" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ReferenceInfoType">
    <xs:annotation>
      <xs:documentation xml:lang="en">To provide specific Hotel reference identification.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="referenceDetails" minOccurs="0" maxOccurs="99" type="ReferencingDetailsType" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ReferencingDetailsType">
    <xs:annotation>
      <xs:documentation xml:lang="en">To provide reference identification.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="type" minOccurs="0" type="AlphaNumericString_Length1To10" />
      <xs:element name="value" minOccurs="0" type="AlphaNumericString_Length1To60" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="SpecialRequirementsDetailsType">
    <xs:annotation>
      <xs:documentation xml:lang="en">To specify special requests or service s information relating to a traveller</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="specialRequirementsInfo" minOccurs="0" type="SpecialRequirementsTypeDetailsType">
        <xs:annotation>
          <xs:documentation xml:lang="en">To specify the Service Requirement of the customer.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="SpecialRequirementsTypeDetailsType">
    <xs:annotation>
      <xs:documentation xml:lang="en">SPECIAL REQUIREMENTS TYPE DETAILS</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="ssrCode" minOccurs="0" type="AlphaNumericString_Length1To4">
        <xs:annotation>
          <xs:documentation xml:lang="en">To specify the "service Type" of the fee</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="airlineCode" minOccurs="0" type="AlphaNumericString_Length1To35">
        <xs:annotation>
          <xs:documentation xml:lang="en">Carrier owner of this service</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="serviceType" minOccurs="0" type="AlphaNumericString_Length1To3">
        <xs:annotation>
          <xs:documentation xml:lang="en">To specify the service group</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="otherServiceType" minOccurs="0" type="AlphaNumericString_Length1To3">
        <xs:annotation>
          <xs:documentation xml:lang="en">To specify the service sub group</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="SpecificDataInformationType">
    <xs:annotation>
      <xs:documentation xml:lang="en">To specify miscellaneous data by first identifying the type of data to be sent and then the actual data.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="dataTypeInformation" type="DataTypeInformationType" />
      <xs:element name="dataInformation" minOccurs="0" maxOccurs="99" type="DataInformationType" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="TransportIdentifierType">
    <xs:annotation>
      <xs:documentation xml:lang="en">To specify the transport service(s) which is /are to be updated or cancelled</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="companyIdentification" minOccurs="0" type="CompanyIdentificationTypeI" />
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="AlphaNumericString_Length1To320">
    <xs:annotation>
      <xs:documentation xml:lang="en">Format limitations: an..320</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:minLength value="1" />
      <xs:maxLength value="320" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="AlphaNumericString_Length1To35">
    <xs:annotation>
      <xs:documentation xml:lang="en">Format limitations: an..35</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:minLength value="1" />
      <xs:maxLength value="35" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="AlphaNumericString_Length1To5">
    <xs:annotation>
      <xs:documentation xml:lang="en">Format limitations: an..5</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:minLength value="1" />
      <xs:maxLength value="5" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="AlphaNumericString_Length1To3">
    <xs:annotation>
      <xs:documentation xml:lang="en">Format limitations: an..3</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:minLength value="1" />
      <xs:maxLength value="3" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="AlphaNumericString_Length1To256">
    <xs:annotation>
      <xs:documentation xml:lang="en">Format limitations: an..256</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:minLength value="1" />
      <xs:maxLength value="256" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="AlphaNumericString_Length1To4">
    <xs:annotation>
      <xs:documentation xml:lang="en">Format limitations: an..4</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:minLength value="1" />
      <xs:maxLength value="4" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="AlphaNumericString_Length1To10">
    <xs:annotation>
      <xs:documentation xml:lang="en">Format limitations: an..10</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:minLength value="1" />
      <xs:maxLength value="10" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="AlphaNumericString_Length1To60">
    <xs:annotation>
      <xs:documentation xml:lang="en">Format limitations: an..60</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:minLength value="1" />
      <xs:maxLength value="60" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="AlphaNumericString_Length1To25">
    <xs:annotation>
      <xs:documentation xml:lang="en">Format limitations: an..25</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:minLength value="1" />
      <xs:maxLength value="25" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="AMA_EDICodesetType_Length1to3">
    <xs:annotation>
      <xs:documentation xml:lang="en">Used for codes in the AMADEUS code tables. Code Length is three alphanumeric characters.</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:pattern value="[0-9A-Z]{1,3}" />
    </xs:restriction>
  </xs:simpleType>
</xs:schema>
<!-- SchemaRules="2010/01"-->
<!--Created with SchemaBuilder 5.1.0 by Amadeus S.A.S.-->
<!--"Amadeus Proprietary and Confidential Information: unauthorized use and disclosure strictly forbidden. 2010 - Amadeus s.a.s - All Rights Reserved."-->
<!--Build Key:
1F8B080000000000000095534B6FDB300CBEEB5708BBEC30C4B18B0DE802E8E0350F0C58DACEF56E010255621261B2E4897251AFE87F1F653B5B77D9E3929014CDC7F77DDCACAE575559AF96FB9B6B71911797B3FCFDACB8E47507A865CF8B62F1365F5CBCE39B6DFD26CF1779CECA6D19FB16706D2C38D980A0C0FE8344A3EA14CE1E51B37B89704D6FD84A05E21463BB98CF1F1B9BC9466AE83053BE99B3FBCE690B4B13C41C2146E38E38D746215327505FEFE8B79122860E98F21A280585F32E794D038EBCE9AD69A5EB533BE13A6B29D0F6C11C4F51BC2AC776FC36F836188832F45C3ACDAFBC3B184D358CB4FCA33BF8D0C868BC5BF0CEC92E9E7C30DF41F30E6148D70695F5D805E0188351D1F69CBEB9379A6A649C70CBF98C9F9B6126334CBEB5BC4A7320AF68FAF0003A7BC5341C6467E326B4092E2D0ED22230EDBB7B0B77F0AD03A7E05646759A5EC07DF82730C1FDCA794A043DEF9F1E20206D4556000B54862C79A40EFD333B107D556709339F981CFC81CEE1E364FDA580F54ADA0972EB8F9A685C2E7627907A07DA1CA48AD17B8BBB55BD5F1A8CD2C52B628AF823E6765B19BE4262BC1E7270E01A779FFC916AB9E33088D137CEF6AC817084098CC15E1BB01AEF7C883FE1A3C591E62A3161FA7B6C49AC1B3B29C7FD1744AD372E5E431CE918C416BC8F2F101AFC24E08C8D2B2444311D523ECF8B29866B1F4A6BA8F6A4D8A405A30097A424EA4DA21C51C4468698EA7E714699D84F8BC4201DDA419F848F20AC713E55AECBEDFC498335B48624013D67F4CAD278FAE5F99058AECE3733D6A4C800D570C9C629F68836DE74B1EDE2DA5B0D41A40063B3D97684F13572F3EB4E66333682248A92BDE82FCADB72BF9601F6C5E53B1275238D13B7D58AC1634B7CED25EE97AB8DA8AB2FAB333F9CB2A5B8B8C8CF0151AF3FAFAB8AB57411064FC4F188FC488F28C87A308933320768E480A218DA6E20A6FFB56C8CED97802A9836BDB233657F4EABA025C54D9A10C525FB014E64F10220050000
-->

