app/GDSIntegration/Amadeus/DevWsdl/Queue_CountTotal_13_1_1A.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://xml.amadeus.com/QCSDRQ_13_1_1A" xmlns="http://xml.amadeus.com/QCSDRQ_13_1_1A" elementFormDefault="qualified">
  <xs:element name="Queue_CountTotal">
    <xs:annotation>
      <xs:documentation xml:lang="en">request of standard display PNR queue counts</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:element name="queueingOptions" type="SelectionDetailsTypeI">
          <xs:annotation>
            <xs:documentation xml:lang="en">used to specify the exact requirements of the counts to be returned</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element name="targetOffice" minOccurs="0" type="AdditionalBusinessSourceInformationTypeI">
          <xs:annotation>
            <xs:documentation xml:lang="en">used to specify the target office for which the queue count is to be displayed</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element name="queueNumber" minOccurs="0" type="QueueInformationTypeI">
          <xs:annotation>
            <xs:documentation xml:lang="en">used to specify the queue if required</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element name="categorySelection" minOccurs="0" type="SubQueueInformationTypeI">
          <xs:annotation>
            <xs:documentation xml:lang="en">used to select the category</xs:documentation>
          </xs:annotation>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="AdditionalBusinessSourceInformationTypeI">
    <xs:annotation>
      <xs:documentation xml:lang="en">To specify additional originator and source information.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="sourceType" type="SourceTypeDetailsTypeI">
        <xs:annotation>
          <xs:documentation xml:lang="en">the office we are targetting</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="originatorDetails" type="OriginatorIdentificationDetailsTypeI">
        <xs:annotation>
          <xs:documentation xml:lang="en">contains the office ID</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="OriginatorIdentificationDetailsTypeI">
    <xs:annotation>
      <xs:documentation xml:lang="en">To identify the originator of the travel request.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="inHouseIdentification1" type="AlphaNumericString_Length1To9">
        <xs:annotation>
          <xs:documentation xml:lang="en">the office that is being targetted</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="QueueInformationDetailsTypeI">
    <xs:annotation>
      <xs:documentation xml:lang="en">To identify the name of the queue,  position of items, count, maximum items allowed, status and related queues.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="number" type="NumericInteger_Length1To2">
        <xs:annotation>
          <xs:documentation xml:lang="en">queue number</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="QueueInformationTypeI">
    <xs:annotation>
      <xs:documentation xml:lang="en">To specify details of a reservation queue.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="queueDetails" type="QueueInformationDetailsTypeI">
        <xs:annotation>
          <xs:documentation xml:lang="en">queue identification</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="SelectionDetailsInformationTypeI">
    <xs:annotation>
      <xs:documentation xml:lang="en">To specify a selected option and associated information.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="option" type="AlphaString_Length1To3">
        <xs:annotation>
          <xs:documentation xml:lang="en">primary use - to select the specific type of queue count to be displayed</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="SelectionDetailsTypeI">
    <xs:annotation>
      <xs:documentation xml:lang="en">To specify the details for making a selection.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="selectionDetails" type="SelectionDetailsInformationTypeI">
        <xs:annotation>
          <xs:documentation xml:lang="en">the type of count we are displaying</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="SourceTypeDetailsTypeI">
    <xs:annotation>
      <xs:documentation xml:lang="en">To identify the type of source.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="sourceQualifier1" type="AlphaNumericString_Length1To3">
        <xs:annotation>
          <xs:documentation xml:lang="en">not needed - but mandatory field So just stick a 4 in it !!</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="SubQueueInformationDetailsTypeI">
    <xs:annotation>
      <xs:documentation xml:lang="en">To identify the name of the sub queue, count, maximum items allowed and status.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="identificationType" type="AlphaNumericString_Length1To3">
        <xs:annotation>
          <xs:documentation xml:lang="en">E for every category    A for cats with items to be worked C for category number N for nickname CN for both category number and nickname numeric for date range</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="itemNumber" minOccurs="0" type="AlphaNumericString_Length1To3">
        <xs:annotation>
          <xs:documentation xml:lang="en">category number</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="itemDescription" minOccurs="0" type="AlphaNumericString_Length1To35">
        <xs:annotation>
          <xs:documentation xml:lang="en">used for nickname on inbound used for category name on outbound</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="SubQueueInformationTypeI">
    <xs:annotation>
      <xs:documentation xml:lang="en">To specify details of a reservation sub queue</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="subQueueInfoDetails" type="SubQueueInformationDetailsTypeI">
        <xs:annotation>
          <xs:documentation xml:lang="en">identifies the category or categories.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="AlphaString_Length1To3">
    <xs:annotation>
      <xs:documentation xml:lang="en">Format limitations: a..3</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:minLength value="1" />
      <xs:maxLength value="3" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="AlphaNumericString_Length1To3">
    <xs:annotation>
      <xs:documentation xml:lang="en">Format limitations: an..3</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:minLength value="1" />
      <xs:maxLength value="3" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="AlphaNumericString_Length1To9">
    <xs:annotation>
      <xs:documentation xml:lang="en">Format limitations: an..9</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:minLength value="1" />
      <xs:maxLength value="9" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="NumericInteger_Length1To2">
    <xs:annotation>
      <xs:documentation xml:lang="en">Format limitations: n..2</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:integer">
      <xs:pattern value="-?[0-9]{1,2}" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="AlphaNumericString_Length1To35">
    <xs:annotation>
      <xs:documentation xml:lang="en">Format limitations: an..35</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:minLength value="1" />
      <xs:maxLength value="35" />
    </xs:restriction>
  </xs:simpleType>
</xs:schema>
<!-- SchemaRules="2010/01"-->
<!--Created with SchemaBuilder 5.0.0 by Amadeus S.A.S.-->
<!--"Amadeus Proprietary and Confidential Information: unauthorized use and disclosure strictly forbidden. 2010 - Amadeus s.a.s - All Rights Reserved."-->
<!--Build Key:
1F8B080000000000000095534D6B1B3110BDEB57885E7A285EAF6B42C0A0C3C6EBB885DA491CE76630CA6A6C8B68A5AD460AD986FCF78E76374D4A0F6DC198F9D0CEC77B6F968BF562536C17E5FE6A2D3EE793E96892D38F6F4FD1A3922DCFCF6767D3D974CA97ABEDA73C9FE5392B5645681BC04B6DC0CA1A0405F6171275B54DE1EC0915BB97086BCA61232B10A7109AD978FC549B4CD65241C4AC72F598DD47AB0C94DA8B314208DA1E71AC7485AC3A41F5704BFFB514C147609553404F5058679357D760C91B7275236D9BDA091B8DA140D37A7D3C05F1A1E8DBF16BEF1AAF2148DF7269159F3B7BD08A6A6869F8577B70BE96413B3BE3D1CA184ECEEB1FA07844E89E2B8D9571183D700C5E57C1B49CBEB9D78A6A649C80CBF988BF36C34C66987C63F826CD817C43D3FB4750D907A6E020A3094BDF24B894384883C0948BF7066EE17B045BC1B50CD569C880BDF82730C1BEBD794E04BDEC9F1FC1236D4596070354862C79A40EED0B3B107D9B6808339798ECFC8ECEEEE364FDA58071953403E4C61D15D158CE765F1645B95B287D9055D83A6770B7D8EE4B8D41DA3027A6883F626EB792FE0112E3FD1BECB8C6DD3777A45AF6D80DA2D595352DABC11F6100A3B32F351885B7CE875FF0D1E24873159830FD3D5612EBDA0CCAB1FF0551E3B40D6B083D1D9DD8BC73E11D429D9F049CB17E858428A64BCAC7F96488E1A5F385D1547B506CD282AE004B5212F52651F628622D7D4875EFACAE746887458297164DA74FC24710D6381E2A6F8BD5F85981D1B4862401BD649465693CF5FE7C482CF3D79BE96B52A483AABB646D2BF684265CC5D0C470E98C022F5280B1D168D5C3F811B97EBB93D188F5208949C1DEF517C575B1BF8910613F999E91AA6BA9ADB8B95B30786A88B0BDC47DB9588AED864203415C7A906272FEEA8B9BF96DB9B9610D5D84C61371DC23DFD32326643DEAC419991D34B24351F46DE72E5A125E9086BDB2F46766205D4CA6EC2701E55C0502050000
-->

