app/GDSIntegration/Amadeus/DevWsdl/SalesReports_DisplayTransactionReport_17_1_1A.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://xml.amadeus.com/TSRTRQ_17_1_1A" xmlns="http://xml.amadeus.com/TSRTRQ_17_1_1A" elementFormDefault="qualified">
  <xs:element name="SalesReports_DisplayTransactionReport">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="documentNumber" minOccurs="0">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="documentDetails">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="number" minOccurs="0">
                      <xs:simpleType>
                        <xs:annotation>
                          <xs:documentation xml:lang="en">Format limitations: an..35</xs:documentation>
                        </xs:annotation>
                        <xs:restriction base="xs:string">
                          <xs:minLength value="1" />
                          <xs:maxLength value="35" />
                        </xs:restriction>
                      </xs:simpleType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="sequenceNumber" minOccurs="0">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="itemNumberDetails">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="number" minOccurs="0">
                      <xs:simpleType>
                        <xs:annotation>
                          <xs:documentation xml:lang="en">Format limitations: an..6</xs:documentation>
                        </xs:annotation>
                        <xs:restriction base="xs:string">
                          <xs:minLength value="1" />
                          <xs:maxLength value="6" />
                        </xs:restriction>
                      </xs:simpleType>
                    </xs:element>
                    <xs:element name="type" minOccurs="0">
                      <xs:simpleType>
                        <xs:annotation>
                          <xs:documentation xml:lang="en">Format limitations: an..3</xs:documentation>
                        </xs:annotation>
                        <xs:restriction base="xs:string">
                          <xs:minLength value="1" />
                          <xs:maxLength value="3" />
                        </xs:restriction>
                      </xs:simpleType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="agencyDetails" minOccurs="0">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="sourceType">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="sourceQualifier1">
                      <xs:simpleType>
                        <xs:annotation>
                          <xs:documentation xml:lang="en">Format limitations: an..3</xs:documentation>
                        </xs:annotation>
                        <xs:restriction base="xs:string">
                          <xs:minLength value="1" />
                          <xs:maxLength value="3" />
                        </xs:restriction>
                      </xs:simpleType>
                    </xs:element>
                    <xs:element name="sourceQualifier2" minOccurs="0">
                      <xs:simpleType>
                        <xs:annotation>
                          <xs:documentation xml:lang="en">Format limitations: an..3</xs:documentation>
                        </xs:annotation>
                        <xs:restriction base="xs:string">
                          <xs:minLength value="1" />
                          <xs:maxLength value="3" />
                        </xs:restriction>
                      </xs:simpleType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="originatorDetails" minOccurs="0">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="originatorId" minOccurs="0">
                      <xs:simpleType>
                        <xs:annotation>
                          <xs:documentation xml:lang="en">Format limitations: n..9</xs:documentation>
                        </xs:annotation>
                        <xs:restriction base="xs:decimal" />
                      </xs:simpleType>
                    </xs:element>
                    <xs:element name="inHouseIdentification1" minOccurs="0">
                      <xs:simpleType>
                        <xs:annotation>
                          <xs:documentation xml:lang="en">Format limitations: an..9</xs:documentation>
                        </xs:annotation>
                        <xs:restriction base="xs:string">
                          <xs:minLength value="1" />
                          <xs:maxLength value="9" />
                        </xs:restriction>
                      </xs:simpleType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="stockProviderDetails" minOccurs="0">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="travelSector" minOccurs="0">
                <xs:simpleType>
                  <xs:annotation>
                    <xs:documentation xml:lang="en">Format limitations: an..3</xs:documentation>
                  </xs:annotation>
                  <xs:restriction base="xs:string">
                    <xs:minLength value="1" />
                    <xs:maxLength value="3" />
                  </xs:restriction>
                </xs:simpleType>
              </xs:element>
              <xs:element name="companyCodeContext" minOccurs="0">
                <xs:simpleType>
                  <xs:annotation>
                    <xs:documentation xml:lang="en">Format limitations: an..3</xs:documentation>
                  </xs:annotation>
                  <xs:restriction base="xs:string">
                    <xs:minLength value="1" />
                    <xs:maxLength value="3" />
                  </xs:restriction>
                </xs:simpleType>
              </xs:element>
              <xs:element name="companyCode" minOccurs="0">
                <xs:simpleType>
                  <xs:annotation>
                    <xs:documentation xml:lang="en">Format limitations: an..35</xs:documentation>
                  </xs:annotation>
                  <xs:restriction base="xs:string">
                    <xs:minLength value="1" />
                    <xs:maxLength value="35" />
                  </xs:restriction>
                </xs:simpleType>
              </xs:element>
              <xs:element name="companyName" minOccurs="0">
                <xs:simpleType>
                  <xs:annotation>
                    <xs:documentation xml:lang="en">Format limitations: an..35</xs:documentation>
                  </xs:annotation>
                  <xs:restriction base="xs:string">
                    <xs:minLength value="1" />
                    <xs:maxLength value="35" />
                  </xs:restriction>
                </xs:simpleType>
              </xs:element>
              <xs:element name="accessLevel" minOccurs="0">
                <xs:simpleType>
                  <xs:annotation>
                    <xs:documentation xml:lang="en">Format limitations: an..3</xs:documentation>
                  </xs:annotation>
                  <xs:restriction base="xs:string">
                    <xs:minLength value="1" />
                    <xs:maxLength value="3" />
                  </xs:restriction>
                </xs:simpleType>
              </xs:element>
              <xs:element name="companyLongCode" minOccurs="0">
                <xs:simpleType>
                  <xs:annotation>
                    <xs:documentation xml:lang="en">Format limitations: an..35</xs:documentation>
                  </xs:annotation>
                  <xs:restriction base="xs:string">
                    <xs:minLength value="1" />
                    <xs:maxLength value="35" />
                  </xs:restriction>
                </xs:simpleType>
              </xs:element>
              <xs:element name="companyNumericCode" minOccurs="0">
                <xs:simpleType>
                  <xs:annotation>
                    <xs:documentation xml:lang="en">Format limitations: an..15</xs:documentation>
                  </xs:annotation>
                  <xs:restriction base="xs:string">
                    <xs:minLength value="1" />
                    <xs:maxLength value="15" />
                  </xs:restriction>
                </xs:simpleType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="distributionMethod" minOccurs="0">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="methodCode">
                <xs:simpleType>
                  <xs:annotation>
                    <xs:documentation xml:lang="en">Format limitations: an..3</xs:documentation>
                  </xs:annotation>
                  <xs:restriction base="xs:string">
                    <xs:minLength value="1" />
                    <xs:maxLength value="3" />
                  </xs:restriction>
                </xs:simpleType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="dummySegment" minOccurs="0">
          <xs:complexType>
            <xs:sequence />
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>
<!-- SchemaRules="2009/09"-->
<!--Created with SchemaBuilder 5.1.0 by Amadeus S.A.S.-->
<!--Build Key:
1F8B08000000000000009593C16EDB300C86EF7A8ADC7618123B45D1AC0174F06A27C3B0A45DE2DE0218AACD384265C913E5A246D1771F253B687B5A7709488AF9497EA4D7D936DB25799616B75B7E11CF17D3F8721A2F262B2B2BD14FE2EB65BC585E7E9BAC37F9D7385EC6314B3689EB5BC09554A045039C3D08842D59D88A12F8C9B9761945CF8D9A894654D0E1AC344DC41E3A5D2948A5E511827352D71855B244569EA07CDCD36F23B8B31DB0D2544029C8B5D1DE6B1AD0E41D85C2E0B642F7BE1ED79D5214687B2BEB931BDC0A8EA2536E6DDB9CBAAC06C5CA740F0AF6F0A7035DC29D70E5699403FDFD53DD837ECB79F1F3BF162F4F60511A4D960505244396A8A942FFCA8E4467D729EAD17850C10FB4C29FBDF50F01654AA1C61195A92BE2962E0F3FB2243D40258FA274CE1885872C2F52894E687743640818A13A6C847D048F380F3918E0E2E197A9494BD7A19100A6015BC38822D82B09AAC2BDB18ED89DE388D455821EE8C7580A4E48352E4AFF17A0D648EDB6E086658466AC31EE1D9FE0FB7B99B16100CF13E948E3EB28BE1E63B832365192B4711041B04FB2044C65E9A8B6B0FDC0101B619DD7BDD7B294AE1F0771566854C2A7121D4EA4311A95F36413BD54A0248D21E87C5E67F4CA7C7BD578AD8304DDCACDC71BA5486015B03CA372B79D6B3BB732AA02CB7D80B1E9743330FC8213A98FC636A189E9940D84F83C61EF8AF3E42E29F67411B88396B683C57C714177DD08A9F9CFE48EC1B30F17028B345BF37C779F9D9734111604BFBA3AFB3CDFEFF2DD6FD6D23721F174FE46C615F139594FD2EF8D5F0C784420C93F54A79B6B95E8F3B7F7E1859DD7F7C9F4F144F87CC1FE02F77CDD4D8B040000
-->

