app/GDSIntegration/Amadeus/DevWsdl/Ticket_DeleteTST_04_1_1A.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://xml.amadeus.com/TTSTDQ_04_1_1A" xmlns="http://xml.amadeus.com/TTSTDQ_04_1_1A" elementFormDefault="qualified">
  <xs:element name="Ticket_DeleteTST">
    <xs:annotation>
      <xs:documentation xml:lang="en">Delete ticket image(s) from a PNR.</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:element name="deleteMode" type="CodedAttributeType">
          <xs:annotation>
            <xs:documentation xml:lang="en">It can be: - 'ALL' - all TSTs are deleted; - 'SEL' - only the information corresponding to the TST/passenger selection is deleted.</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element name="pnrLocatorData" minOccurs="0" type="ReservationControlInformationTypeI">
          <xs:annotation>
            <xs:documentation xml:lang="en">PNR record locator information for this transaction. This PNR record locator is used for tracing purpose, no internal retrieve.</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element name="psaList" minOccurs="0" maxOccurs="1980">
          <xs:annotation>
            <xs:documentation xml:lang="en">TST/PAX list to delete. The deletion will depend on the references passed : - reference of a TST only : deletion of all the passengers from this TST. - passenger references : delete the passengers from all the TSTs of the PNR. - reference of a TST and passenger references : delete the passengers from the TST specified. If GR1 is absent all the passengers from all the TSTs of the PNR will be deleted. As we can have 10 TST per Pax, 99 passenger per PNR, and a TST split with the Infant , the max number of TST is 1980.</xs:documentation>
          </xs:annotation>
          <xs:complexType>
            <xs:sequence>
              <xs:element name="itemReference" type="ItemReferencesAndVersionsType">
                <xs:annotation>
                  <xs:documentation xml:lang="en">TST reference number. Order number is here meaningless.</xs:documentation>
                </xs:annotation>
              </xs:element>
              <xs:element name="paxReference" minOccurs="0" type="ReferenceInformationTypeI">
                <xs:annotation>
                  <xs:documentation xml:lang="en">Reference information about passenger(s) to delete from the TST(s)</xs:documentation>
                </xs:annotation>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="CodedAttributeInformationType">
    <xs:annotation>
      <xs:documentation xml:lang="en">Convey coded key and corresponding value</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="attributeType" type="AlphaNumericString_Length1To3">
        <xs:annotation>
          <xs:documentation xml:lang="en">provides the attribute Type</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="CodedAttributeType">
    <xs:annotation>
      <xs:documentation xml:lang="en">Used to specify the selection of the TSTs to be displayed/deleted.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="attributeDetails" type="CodedAttributeInformationType">
        <xs:annotation>
          <xs:documentation xml:lang="en">provides details for the Attribute</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ItemReferencesAndVersionsType">
    <xs:annotation>
      <xs:documentation xml:lang="en">Exchange and link unique identifiers</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="referenceType" minOccurs="0" type="AlphaNumericString_Length1To3">
        <xs:annotation>
          <xs:documentation xml:lang="en">qualifies the type of the reference used. Code set to define</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="uniqueReference" minOccurs="0" type="NumericInteger_Length1To5">
        <xs:annotation>
          <xs:documentation xml:lang="en">Tattoo number (It is in fact the Tst Display Number)</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="iDDescription" minOccurs="0" type="UniqueIdDescriptionType">
        <xs:annotation>
          <xs:documentation xml:lang="en">Gives the TST ID number</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ReferenceInformationTypeI">
    <xs:annotation>
      <xs:documentation xml:lang="en">To provide specific reference identification.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="refDetails" minOccurs="0" maxOccurs="99" type="ReferencingDetailsTypeI">
        <xs:annotation>
          <xs:documentation xml:lang="en">Passenger/segment/TST reference details</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ReferencingDetailsTypeI">
    <xs:annotation>
      <xs:documentation xml:lang="en">To provide reference identification.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="refQualifier" minOccurs="0" type="AlphaNumericString_Length1To3">
        <xs:annotation>
          <xs:documentation xml:lang="en">Qualifyer of the reference (Pax/Seg/Tst)</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="refNumber" minOccurs="0" type="NumericInteger_Length1To5">
        <xs:annotation>
          <xs:documentation xml:lang="en">Passenger/segment/TST reference number</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ReservationControlInformationDetailsTypeI">
    <xs:annotation>
      <xs:documentation xml:lang="en">To specify the information required to identify a reservation.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="controlNumber" type="AlphaNumericString_Length1To20">
        <xs:annotation>
          <xs:documentation xml:lang="en">Record locator.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ReservationControlInformationTypeI">
    <xs:annotation>
      <xs:documentation xml:lang="en">To specify a reference to a reservation.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="reservationInformation" type="ReservationControlInformationDetailsTypeI">
        <xs:annotation>
          <xs:documentation xml:lang="en">Reservation control information</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="UniqueIdDescriptionType">
    <xs:sequence>
      <xs:element name="iDSequenceNumber" type="NumericInteger_Length1To11">
        <xs:annotation>
          <xs:documentation xml:lang="en">The TST Id Number : The Id number allows to determine a TST in the single manner.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="AlphaNumericString_Length1To3">
    <xs:annotation>
      <xs:documentation xml:lang="en">Format limitations: an..3</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:minLength value="1" />
      <xs:maxLength value="3" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="NumericInteger_Length1To5">
    <xs:annotation>
      <xs:documentation xml:lang="en">Format limitations: n..5</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:integer">
      <xs:pattern value="-?[0-9]{1,5}" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="AlphaNumericString_Length1To20">
    <xs:annotation>
      <xs:documentation xml:lang="en">Format limitations: an..20</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:minLength value="1" />
      <xs:maxLength value="20" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="NumericInteger_Length1To11">
    <xs:annotation>
      <xs:documentation xml:lang="en">Format limitations: n..11</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:integer">
      <xs:pattern value="-?[0-9]{1,11}" />
    </xs:restriction>
  </xs:simpleType>
</xs:schema>
<!-- SchemaRules="2010/01"-->
<!--Created with SchemaBuilder 5.0.0 by Amadeus S.A.S.-->
<!--"Amadeus Proprietary and Confidential Information: unauthorized use and disclosure strictly forbidden. 2010 - Amadeus s.a.s - All Rights Reserved."-->
<!--Build Key:
1F8B080000000000000095534D6FDB3810BDF35710BDECA1B02CA7E96E6180073552D2A2EB24B5D59B018326C736518A543954106D90FFDEA124B7297AD8DD8B301FD47CBCF7E6A6BAADD6455D95BBBB5B71912F2E67F9BBD922E79BCE69D9F3FCEDF2CD9BE5E55FFC6655BFCEF3659EB36255C4BE05BC36169C6C405060F75EA251750A678FA8D95E22DC520E5BA9409C626C97F3F9636333D9480D1D66CA3773B6A71E164A13C41C2146E38E38D746215327505F37F46DA488A103A6BC067A82C27997BCA60147DE946B5AE9FAD44EB8CE5A0AB47D30C75314AF8AB11DBF0FBE0D06A20C3D974EF32BEF0E46530D232DFFE80E3E34321AEF96BC73B28B271FCC3FA07987303CD70695F5D805E0188351D1F69CFED91B4D35324EB0E57CC6CFCD30931926DF5ABE4E73205FD3F4E10174F68A6938C8CEC69BD026B8B438488BC0B4EFF61636F0AD03A7E05E46759A32E0DEFF2730C1FD7CF394087ADE3D3D4040DA8AAC0016A80C59F2481DFA677620FAD69D25CC7C6272F0073A879F93F52F05AC57D24E905B7FD44463B9DC7EA88A725B6973902AD6DE5BDC56F5AE3418A58B57C414F147CC6D57327C85C4F8F80607AE71FBB73F522D771C0631FACED99E35108E308131D8D706ACC68D0FF1077CB438D25C05264C7F8D95C4BAB19372DCFF82A8F5C6C55B88231D83D882F7F10542839F049CB171858428A63BCAE7F9628AE1B50F8535547B526CD28251802529897A93284714B19121A6BA5F9C5126F6D32231488776D027E123086B9C4F95EB62357FD2600DAD214940CF1965591A4FBF3C1F12CBD5F966C69A1419A01A2ED938C51ED1C6BB2EB65DBCF656431029C0D86CB61A61FC03B9F97927B3191B41128B82BDE82F8AFB62571B45DCEE16B9DC93AE1B699CA83F550C1E5BA26C2771575637A25E7FA9CE147119408A8B3FCFBEA8EB4D5D7E662DDD84C113B13C623F122416643D98C49AB818C191038E626A5CD2BB0854829D79FA3D33D12EF24BF61D2DB4CB8402050000
-->

